
<div class="container">
  <h2>レポート編集</h2>
  <p><span class="text-danger">*</span>は入力必須項目です。</p>
  <% if @report.errors.any? %>
    <p class="text-danger">必須項目が入力されていません。</p>
  <% end%>

  <%= form_with model: @report, local: true do |f| %>

    <div class="row mt-5">
      <div class="col-sm-3">
        <%= f.label :title, "タイトル" %><span class="text-danger">*</span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :title, size: 60 %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :mountain_name, "山の名称" %><span class="text-danger">*</span>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :mountain_name %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :elevation, "標高" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :elevation %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :walking_time, "歩行時間" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :walking_time %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :difficulty, "難易度" %>
      </div>
      <div class="col-sm-9">
        <%= f.radio_button :difficulty, '初心者向け' %>
        <%= f.label :difficulty, '初心者向け', value: "初心者向け" %><br>
        <%= f.radio_button :difficulty, '中級者向け' %>
        <%= f.label :difficulty, '中級者向け', value: "中級者向け" %><br>
        <%= f.radio_button :difficulty, '上級者向け' %>
        <%= f.label :difficulty, '上級者向け', value: "上級者向け" %><br>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3">
        <%= f.label :comment, "コメント" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_area :comment, size: "60x10" %>
      </div>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="row mt-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <%= f.submit "編集する" %>
      </div>
    </div>

  <% end %>

</div>